{% load static %}

<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>HCQ MARKETING</title>
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #fff;">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">HCQ MARKETING</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'employees_index' %}active{% endif %}" href="{% url 'employees_index' %}">Employees</a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'suppliers_index' %}active{% endif %}" href="{% url 'suppliers_index' %}">Suppliers</a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'customers_index' %}active{% endif %}" href="{% url 'customers_index' %}">Customers</a>
                    </li>
            
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sales</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'sales_list' %}">Sales</a>
                            <a class="dropdown-item" href="{% url 'create_sale' %}">New Sales</a>
                            <a class="dropdown-item" href="#">Sales Return</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'products_index' %}active{% endif %}" href="{% url 'products_index' %}">Products</a>
                    </li>
            
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Purchases</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'purchases:purchase_index' %}">Purchases</a>
                            <a class="dropdown-item" href="{% url 'purchases:add_purchase' %}">New Purchase</a>
                        </div>
                    </li>
            
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inventory</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'inventory:inventory_index' %}">Inventory List</a>
                        </div>
                    </li>
                </ul>
            </div>            
        </div>   
    </nav>

    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>

    <footer class="mt-auto mb-4">
        <div class="text-center">
            <span>HCQ MARKETING</span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>