{% extends "base.html" %}

{% block body %}

{% if messages %}
<div class="d-flex justify-content-center mt-3">
    <div class="alert alert-success alert-dismissible fade show text-center" style="max-width: 600px; width: 100%;" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}

<div class="d-flex justify-content-between align-items-center m-3">
    <div class="d-flex align-items-center">
        <h3 class="m-3">Customers</h3>
        <a href="{% url 'add_customer' %}" class="btn btn-add btn-sm ms-2">Add Customers</a>
    </div>
        {% if message %}
    <div class="alert alert-info">
        {{ message }}
    </div>
        {% endif %}
    <form method="get" action="" class="d-flex ms-auto" style="width: 500px;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Customers (ID/Name/Hardware)..." name="search" style="border-radius: 30px 0 0 30px;">
            <button class="btn btn-search" type="submit" style="border-radius: 0 30px 30px 0;">Search</button>
        </div>
    </form>
</div>

<div class = "row">
    <div class = "col-12">
        {% if customers %}
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <h5 class="card-title">Customer Records</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <div class ="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Customer Hardware</th>
                                <th scope="col">Email</th>
                                <th scope="col">Address</th>
                                <th scope="col">Contact</th>
                                <th scope="col">Date Started</th>
                                <th scope="col">Start By</th>
                                <th scope="col">Date Edited</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                    <tr>
                                        <td>{{ customer.id}}</td>
                                        <td>{{ customer.first_name}}</td>
                                        <td>{{ customer.last_name}}</td>
                                        <td>{{ customer.customer_hardware}}</td>
                                        <td>{{ customer.email}}</td>
                                        <td>{{ customer.address}}</td>
                                        <td>{{ customer.contact_num}}</td>
                                        <td>{{ customer.dateStart}}</td>
                                        <td>{{ customer.startBy}}</td>
                                        <td>{{ customer.dateEdit}}</td>
                                        <td> 
                                            <form action="{% url 'customer_edit' customer.id %}" method="post" style="display:inline;"> 
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-edit btn-sm">Edit</button>
                                            </form>
                                            
                                        </td>
                                        <td>
                                                
                                            <form action="{% url 'delete_customer' customer.id %}" method="post" style="display:inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-delete btn-sm">Delete</button>
                                            </form>

                                        </td>

                                    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </p>
            </div>
        </div>

        {% else %}
            <h5 class = "alert alert-primary ms-4 me-4"> No Customer Records </h5>
        {% endif %}
    </div>
</div> 
</div>



{% endblock %}
