{% extends "base.html" %}

{% block body %}

{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}

<div class="d-flex justify-content-between align-items-center m-3">
    <h3 class="m-3">Products</h3>
        {% if message %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endif %}
    <form method="get" action="" class="d-flex ms-auto" style="width: 500px;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Products (Code/Name/Description)..." name="search" style="border-radius: 30px 0 0 30px;">
            <button class="btn btn-search" type="submit" style="border-radius: 0 30px 30px 0;">Search</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-12">
        {% if products %}
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header"></div>
            <div class="card-body">
                <p class="card-text">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Product Code</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Purchase Price</th>  
                                <th scope="col">Unit</th>
                                <th scope="col">Actions</th>  <!-- Added Actions column -->
                            </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.product_code }}</td>
                                        <td>{{ product.product_name }}</td>
                                        <td>{{ product.product_descript }}</td>
                                        <td>{{ product.product_price }}</td>
                                        <td>{{ product.purchase_price }}</td>  
                                        <td>{{ product.product_unit }}</td>
                                        <td>
                                            <!-- Edit Button -->
                                            <a href="{% url 'product_edit' product.id %}" class="btn btn-edit btn-sm">Edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </p>
            </div>
        </div>

        {% else %}
            <h5 class="alert alert-primary ms-4 me-4"> No Product Records </h5>
        {% endif %}
    </div>
</div> 

{% endblock %}
